<!-- login button on navbar -->
<%= render partial: "layouts/navbar" %>

<% if alert %><div class='alert alert-warning'><%= alert %></div><% end %>
<% if notice %><div class='alert alert-secondary'><%= notice %></div><% end %>

<div class='container-fluid'>
	<div class='row mt-5'>
		<!-- CAFC Opinion Table -->
		<% if @opinions.length > 0 %>
		<div class='col-md'>
		<div class='col-md-12'>
			<table class='table'>
				<thead>
					<tr>
						<th>Name</th>
						<th>#</th>
						<th>Date</th>
						<th>Type<th>
					<tr>
				<thead>
				<tbody>
					<% @opinions.each do |opinion| %>
						<tr>
							<td><%= link_to opinion.name, opinion.url %></td>
							<td><%= opinion.number %></td>
							<td><%= opinion.status_date.strftime("%D") %></td>
							<td><%= opinion.precedential %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	
		<!-- CAFC Argument Schedule 
		<% if @arguments.length > 0 %>
		<div class='col-6-md'>
			<table class='table'>
				<thead>
					<tr>
						<th>Name</th>
						<th>#</th>
						<th>Date</th>
						<th>Courtroom<th>
					<tr>
				<thead>
				<tbody>
					<% @arguments.each do |argument| %>
						<tr>
							<td><%= argument.name %></td>
							<td><%= argument.number %></td>
							<td><%= argument.status_date %></td>
							<td><%= argument.courtroom %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>-->
	</div>
</div>